<div class="col-sm-6">
<div >

    <button type="button" class="close col-sm-12" data-dismiss="alert" aria-label="Close">
      <%= devise_error_messages! %>
    </button>
</div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 toppad" >
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 avatar-badge-file" align="center">
                <%= image_tag @user.avatar.url(:medium), class: "img-thumbnail" if @user.avatar.url.present? %>
                <div class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Foto</span>
                            <input accept="image/png,image/gif,image/jpeg,image/jpg" name="user[avatar]" id="user_avatar" type="file"> <!-- rename it -->
                        </div>
                    </span>

                </div><!-- /input-group image-preview [TO HERE]--> 
                <p class="avatar-badge-file-base"><i class="fa fa-certificate fa-5x text-primary"></i></p>
                <p class="avatar-badge-file-icon"><i class=" <%= @user.my_level[1] %> fa-3x"></i></p>
              </div>

              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody class="form-group">
                    <tr>
                      <td class="col-sm-6" > <%= f.label :nome %></td>
                      <td><%= f.text_field :nome, class: "form-control" %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :pontuacao %></td>
                      <td><%= f.text_field :pontuacao, disabled: true, class: "form-control" %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :email  %></td>
                      <td ><%= f.email_field :email, autofocus: true, class: "form-control"%></td>
                    </tr>
                    <tr>
                      <td> <%= f.label :sexo %></td>
                      <td><%= f.text_field :sexo, class: "form-control" %></td>
                    </tr>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <tr>
                      <td> <%= f.label :password %> <i>(leave blank if you don't want to change it)</i></td>
                      <td><%= f.password_field :password, autocomplete: "off", class: "form-control" %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :password_confirmation %></td>
                      <td><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></td>
                    </tr>
                    <tr>
                      <td><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></td>
                      <td> <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></td>
                    </tr>
                  </tbody>
                </table>
                <%= f.submit "Update", class: "btn btn-primary  pull-right" %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="panel-footer">
            <div data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-default"><i class="fa fa-reply-all text-primary"></i>&nbsp;<%= link_to "Back", :back %></div>
            <span class="pull-right">
                <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning pull-left"><i class="glyphicon glyphicon-edit"></i></a>
                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger pull-right" %> 
            </span>
          </div>
          
        </div>
      </div> 
    
  </div>  <!-- /row -->
</div>    <!-- /conteiner -->