<%event.comments.order(data: :desc).map do |c|%>
    <div class="media avatarComentario" >
      <a class="pull-left" href="#">
        <p class="avatarComentarioImg"><%= image_tag  c.user.avatar.url(:thumb) if c.user.avatar.url.present? %></p>
        <p class="avatarComentarioBandeira"> <i class="fa fa-certificate fa-4x pull-right"></i> </p>
        <p class="avatarComentarBadge" ><i class=" <%= c.user.my_level[1] %> fa-2x pull-right"></i></p>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%=c.user.nome %> <span> <i class="fa fa-hand-o-right"></i> <%= c.user.my_level[0] %> </span>
          <small><%= c.data.strftime('%R')%> - <%= c.data.strftime('%d/%m/%Y') %></small>
        </h4>
        <%=c.conteudo %> 
        <%= (link_to 'Apagar', c, method: :delete, data: { confirm: 'Are you sure?' }, remote: true) if current_user == c.user %>
      </div>
    </div>
<%end%>