<%event.comments.order(data: :desc).map do |c|%>
    <div class="media" >
      <a class="pull-left" href="#">
        <%= image_tag  c.user.avatar.url(:thumb) if c.user.avatar.url.present? %><br><br>
     <p>   <%= c.user.legendaIcone %> </p>
        <i class="<%= c.user.tipoIcone %>"></i>
        <!--<img class="media-object" style="width: 64px; height: 64px;" src="http://u.sera.to/users/84/73584/avatar_mid_1345805197.png" alt="">-->
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%=c.user.nome %>
          <small><%= c.data.strftime('%R')%> - <%= c.data.strftime('%d/%m/%Y') %></small>
        </h4>
        <%=c.conteudo %>
        <%= (link_to 'Apagar', c, method: :delete, data: { confirm: 'Are you sure?' }, remote: true) if current_user == c.user %>
      </div>
    </div>
<%end%>


