<!-- <p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Endereco</th>
      <th>Data</th>
      <th>Categorias</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.titulo %></td>
        <td><%= event.descricao %></td>
        <td><%= event.endereco %></td>
        <td><%= event.data %></td>
        <td><% event.categories.each do |c|%>
              <%=c.titulo %><br><%end%></td>
        <td><%= event.imagem %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->




  <!--left ########################################################### -->
  <div class="col-sm-3">
        <h2>Side</h2>

        <hr>
  </div>
  <!--/left ########################################################### -->

    <!--center ########################################################### -->
<div class="col-sm-6"> <!-- ************* coluna central ******************-->
    <div class="row">
<!-- 
        ######################################################################
        ################### formulário para criar evento #####################
        ######################################################################
 -->

      <a class="btn btn-primary" data-toggle="collapse" href="#collapseFormulário" aria-expanded="false" aria-controls="collapseFormulário">
        + Criar evento<!-- <%= link_to 'New Event', new_event_path %> -->
      </a>

      <div class="collapse" id="collapseFormulário">
        <div class="well">
              <%= render 'form' %>
        </div>
      </div>
    </div>

<!-- 
            ################## ^ /formulário para criar evento ^ #####################
 -->

<!-- evento listado na lista ########################################-->

  <div class="row">
    <% @events.each do |event| %>
    <div class="col-xs-12">
      <h2>
        <%= link_to event.titulo, event %>
        <!-- ########## icones dos eventos ############-->
        <p class="pull-right">        
          <a href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-android"><i class="fa fa-car"></i></a>
          <a href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-apple"><i class="fa fa-bicycle"></i></a>
          <a href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-behance"><i class="fa fa-coffee"></i></a>
          <a href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-bitcoin"><i class="fa fa-bed"></i></a>
          <a href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-buysellads"><i class="fa fa-camera-retro"></i></a>
        </p>
        <!-- ########## ^ /icones dos eventos ^ ############-->
      </h2>
      <p>
        <%= event.descricao %>
        <%= link_to 'Leia mais.', event, class: 'btn btn-default btn-xs' %>
     <!--    <a href="detalhes.html">
          <button type="button" class="btn btn-default btn-xs">Leia mais.</button>
        </a> -->
      </p>
      <p class="pull-right">
        <a href="#"><i class="fa fa-check-square-o icone-evento-indexlist"></i> EU VOU! <span class="badge">42</span></a>
      </p>
      <ul class="list-inline">
          <li> 
              <a href="#">
                  <i class="fa fa-calendar "></i> <i class="fa fa-clock-o"></i><%= event.data %> 
                  <i class="fa fa-map-marker"></i> <%= event.endereco %>
              </a>
          </li>
          <li>
              <a href="#"><i class="fa fa-comments "></i> 2 Comentários</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-wrench"></i><%= link_to 'Editar', edit_event_path(event) %></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-trash-o"></i><%= link_to 'Deletar', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></a>
          </li>
              
      </ul>
    </div>
    <% end %>
  </div>
    <hr>
  <!-- ^ /evento listado na lista ^ ########################################-->
</div> <!-- ************* ^ /coluna central ^ ****************** -->

  <!-- ########################################################### lado direito -->
  <div class="col-sm-3">
      <h2>Side</h2>

        <hr>

  </div>
  <!-- ########################################################### /lado direito -->
