
<!-- ######################  carouseul component ########################  -->
  <div class="container-fluid">
    <%= render file: "events/custom/_carouseul.html.erb" %>
  <!--left ########################################################### -->
  <div class="col-sm-3">
<!--    <h2>Side L</h2>
        <hr> -->
  </div>
  <!--/left ########################################################### -->
<!--center ################################################################ -->
<div class="col-sm-6"> 
<!-- ************* coluna central ******************-->
    <div class="row">
<!-- 
        ######################################################################
        ################### formulário para criar evento #####################
        ######################################################################
 -->
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseFormulário" aria-expanded="false" aria-controls="collapseFormulário">
        + Criar evento
      </a>
      <div class="collapse" id="collapseFormulário">
        <div class="well">
              <%= render 'form' %>
        </div>
      </div>
    </div>
<!--  ################## ^ /formulário para criar evento ^ ##################### -->

<!-- evento listado na lista ########################################-->
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-xs-12">
      <h2>
        <%= link_to event.titulo, event %>
        <!-- ########## icones dos eventos ############-->
        <p class="pull-right">
            <% @categorias =  Category.all%>
            <% event.category_ids.each do |item| %>
                <a title="<%= @categorias[item-1].titulo %>" href="#" class="btn azm-social azm-size-48_indexList azm-r-square azm-android" ><i class="<%= @categorias[item-1].icone %>"></i></a>   
            <% end %>        
        </p>
        <!-- ########## ^ /icones dos eventos ^ ############-->
      </h2>
      <p>
        <%= event.descricao %>
        <%= link_to 'Leia mais.', event, class: 'btn btn-default btn-xs' %>
     <!--    <a href="detalhes.html">
          <button type="button" class="btn btn-default btn-xs">Leia mais.</button>
        </a> -->
      </p>
    <div class="row">
          <ul class="list-inline col-md-9">
              <li> 
                  <a href="#">
                      <i class="fa fa-calendar "></i> <i class="fa fa-clock-o"></i><%= event.data %> 
                      <i class="fa fa-map-marker"></i> <%= event.endereco %>
                  </a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-comments "></i><%=event.comments.count%> Comentários</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-wrench"></i><%= link_to 'Editar', edit_event_path(event) %></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-trash-o"></i><%= link_to 'Deletar', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></a>
              </li>
          </ul>
            <%=form_tag(euvou_confirmation_path(id: event.id), method: "post", class: "pull-right col-md-3 btn btn-primary") do %>
             <button  type="submit" style="background: none; border: none; width:100%; height: 37px;" >
                <span class="h4"><i class="fa fa-check-square-o icone-evento-indexlist"></i></span>&nbsp; &nbsp; EU VOU! &nbsp; &nbsp;<span class="badge"><%= event.eu_vou_rating %></span>
            </button>
            <%end%>
            <!--<form class="pull-right col-md-3 btn btn-primary" style="padding: 0;" action="euvou/confirmation" method="post">
                <button  type="submit" style="background: none; border: none; width:100%; height: 37px;" > 
                    <span class="h4"><i class="fa fa-check-square-o icone-evento-indexlist"></i></span>&nbsp; &nbsp; EU VOU! &nbsp; &nbsp;<span class="badge"><%= @event.eu_vou_rating %></span>
                </button> 
            </form>-->
      </div>
      <hr>
    </div>

    <% end %>
  </div>
    <hr>
  <!-- ^ /evento listado na lista ^ ########################################-->
</div> <!-- ************* ^ /coluna central ^ ****************** -->

  <!-- ########################################################### lado direito -->
  <div class="col-sm-3">
<!--       <h2>Side R</h2>
        <hr>
        <!-- mensagens do login sign_in 
        <p class="notice alert alert-info" role="alert"><%= notice %></p>
        <p class="alert alert-danger" role="alert"><%= alert %></p> -->
  </div>
  <!-- ########################################################### /lado direito -->
<p><%= (link_to 'New Event', new_event_path) if user_signed_in? %></p>
  <!-- script references -->
    
    
    <!-- FIM  ^ script reference  ^ ############################################# -->    
