

    <!-- Page Content -->
    <div class="container containerDetalhes">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1><%= @event.titulo %></h1>
                
                <!-- Author -->
                <p class="lead">
                    by <a href="#">Italo Berg</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Postado 24 de jundo de 2015 às 18:00 horas</p>
                <hr>
        <!-- imagem e detalhes rápidos do evento -->
        <div class="featurette row" id="services">
            <div class="col-lg-8">
                <img class="featurette-image img-responsive pull-left" src="<%= @event.imagem %>">
            </div>
                         <!-- info básicas do evento -->
                        <div class="panel-body col-lg-4">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-calendar fa-fw"></i>  <%= @event.data %>
                                 
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-clock-o fa-fw"></i> 18 horas
                                  
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-globe fa-fw"></i> <%= @event.endereco %>
                                  
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Contato
                               
                                </a>
                                <button class="btn btn-primary bnt-lg btn-block" type="button">
                                    <i class="fa fa-check-square-o"></i> Eu vou! <span class="badge">27</span>
                                </button>
                            </div>
                            <!-- /.list-group -->
                            
                        </div>
                        <!-- /.panel-body -->

                <!-- ########################## jhonny five--> 

        </div>

     

  
                <hr>



                <div class="row">
                    
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-android">            <i class="fa fa-car"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-apple">              <i class="fa fa-bicycle"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-behance">            <i class="fa fa-coffee"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-bitcoin">            <i class="fa fa-bed"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-buysellads">         <i class="fa fa-camera-retro"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-codepen">            <i class="fa fa-credit-card"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-css3">               <i class="fa fa-css3"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-delicious">          <i class="fa fa-umbrella"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-deviantart">         <i class="fa fa-shopping-cart"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-digg">               <i class="fa fa-digg"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-dribbble">           <i class="fa fa-dribbble"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-dropbox">            <i class="fa fa-dropbox"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-drupal">             <i class="fa fa-drupal"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-email-1">            <i class="fa fa-at"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-email-2">            <i class="fa fa-envelope"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-facebook">           <i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-flickr">             <i class="fa fa-flickr"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-foursquare">         <i class="fa fa-foursquare"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-git">                <i class="fa fa-git"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-github">             <i class="fa fa-github"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-google">             <i class="fa fa-google"></i></a>
                        <a href="#" class="btn azm-social azm-size-48 azm-r-square azm-google-plus">        <i class="fa fa-google-plus"></i></a>
                </div>
  


                <!-- Post Content -->
                <p class="lead"><%= @event.descricao %></p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="http://u.sera.to/users/84/73584/avatar_mid_1345805197.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSzQkM_0mdTTBXxe_MlAK7zYsdZN0O8TIxWrernMIHenPqywY2EEGTryA" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media" >
                           
                                <a class="pull-left" href="#">
                                    <img class="media-object" style="width: 64px; height: 64px;" src="http://vignette3.wikia.nocookie.net/simpsons/images/3/39/Ralph_wiggum.gif/revision/latest/scale-to-width/553?cb=20120620154037&path-prefix=pt" alt="">
                                </a>
                           
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>



        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <%= link_to 'Edit', edit_event_path(@event) %> |
                    <%= link_to 'Back', events_path %>
                    <p id="notice"><%= notice %></p>
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
