<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @category.titulo %>
</p>

<p>
  <strong>Icone:</strong>
  <%= @category.icone %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
